<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tour Detail</title>
  <meta charset="UTF-8">
</head>
<body>
<h1>Tour Detail</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="/images/{{ tourListDto.detailImgUrl }}" alt="{{ tourListDto.tourName }}" width="100%">
    </div>
    <div class="col-md-6">
      <h2>{{ tourListDto.tourName }}</h2>
      <p>{{ tourListDto.tourExp }}</p>
      <a href="/tour/search" class="btn btn-primary">목록으로 돌아가기</a>
    </div>
  </div>
</div>
</body>
</html>