<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tour Detail</title>
  <meta charset="UTF-8">
</head>
<body>
<h1>Tour Detail</h1>

<form action="/user/scrap/" method="post">
  <input type="hidden" name="detailId" th:value="${detailId}">
  <input type="submit" value="스크랩">
</form>
<hr>

<table class="table">
  <thead>
  <tr>
    <td th:text="${tourName}"></td>
  </tr>
  <tr>
    <th>투어 상세 정보 ID</th>
    <th>투어 목록 ID</th>
    <th>투어 상세 이름</th>
    <th>투어 상세 내용</th>
    <th>Word Cloud</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${tourDetailDto.detailId}">
    </td>
    <td th:text="${tourDetailDto.tourlistId}"></td>
    <td th:text="${tourDetailDto.detailName}"></td>
    <td th:text="${tourDetailDto.detailExp}"></td>
    <td th:text="${tourDetailDto.detailImg}"></td>
  </tr>
  </tbody>
</table>
<table>
  <tr>
    <td>
      <img th:src="${naverImage}" alt="Word Cloud">
    </td>
    <td>
      <img th:src="${tripadvisorImage}" alt="Word Cloud">
    </td>
  </tr>
</table>
</body>
</html>