<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tour Detail</title>
  <meta charset="UTF-8">
</head>
<body>
<h1>Tour Detail</h1>

<div>
  <h2>Detail ID</h2>
  <p th:text="${tourDetailDto.detailId}"></p>
</div>
<div>
  <h2>Detail Name</h2>
  <p th:text="${tourDetailDto.detailName}"></p>
</div>
<div>
  <h2>Detail Exp</h2>
  <p th:text="${tourDetailDto.detailExp}"></p>
</div>
<div>
  <h2>Detail Image</h2>
  <img th:src="@{/images/#{tourDetailDto.detailImg}}" alt="#{tourDetailDto.detailName}" style="width: 100px;"></td>
</div>
</body>