<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/headSetting::minSetting}">
    <title>커뮤니티</title>
</head>
<script src="/js/jquery-3.7.1.min.js" > </script>
<body>
<div th:replace="~{layout/header::indexHeader}"></div>
<div class="d-flex justify-content-center 메인">
    <div class="container 둘러보기">
        <h3>[[${tourDetailDto.detailName}]]</h3>
        <div class="img_list row">
            <div class="col-sm-6 ">
                <img src="/images/testImg/cafe.jpg">
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <img src="/images/testImg/cafe.jpg">
                </div>
                <div class="row">
                    <img src="/images/testImg/cafe.jpg">
                </div>
            </div>
        </div>
        <h3>[[${tourDetailDto.detailName}]] 상세 설명</h3>
        <p>[[${tourDetailDto.detailExp}]]</p>
    </div>
</div>

<div class="d-flex justify-content-center 워드클라우드">
    <div class="container 둘러보기">
        <h3>사이트별 워드 클라우드</h3>
        <div class="img_list row">
            <div class="col-sm-6 ">
                <img th:src="${naverImage}" alt="Word Cloud">
                <h5>네이버</h5>
                <h5>2023.09.01~2023.10.31</h5>
            </div>
            <div class="col-sm-6">
                <img th:src="${tripadvisorImage}" alt="Word Cloud">
                <h5>트립어드바이저</h5>
                <h5>2023.09.01~2023.10.31</h5>
            </div>
        </div>
    </div>
</div>

<div class="container 지역 커뮤니티 최신글 둘러보기 region_new">
    <h3>지역 커뮤니티 최신글</h3>
    <a herf="">야외 자리도  즐기기 좋은 카페 26곳</a><br>
    <a herf="">강남 팝업스토어</a><br>
    <a herf="">성수동 카페거리</a><br>
    <a herf="">성수 아더 스페이스 2.0 플래그십 스토어</a><br>
</div>

<div th:replace="~{layout/login::login}"></div>
<div th:replace="~{layout/footer::footer}"></div>


<script>
</script>
</body>
</html>
