<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/headSetting::minSetting}">
    <title>커뮤니티</title>
</head>
<script src="/js/jquery-3.7.1.min.js" > </script>
<body>

<div th:replace="~{layout/header::indexHeader}"></div>
<div class="d-flex justify-content-center 메인">
    <div class="container 둘러보기">
        <div class="row ">
            <div class="col-6 d-flex justify-content-start">
                <h3 class="tour_detail_title tour_detail_top">[[${tourDetailDto.detailName}]]</h3>
            </div>
            <div class="col-6 d-flex justify-content-end scrap_btn" th:if="${userName}">
                <form action="/user/scrap/" method="post" th:unless="${scrap}">
                    <input type="hidden" name="detailId" th:value="${detailId}">
                    <input class="btn btn-primary tour_detail_top" type="submit" value="스크랩">
                </form>
                <form th:action="@{'/user/scrap/'}" th:method="delete" th:if="${scrap}">
                    <input type="hidden" name="scrapId" th:value="${scrap.sid}">
                    <input class="btn btn-primary tour_detail_top" type="submit" value="스크랩">
                </form>
            </div>
        </div>
        <div class="img_list row">
            <div class="col-sm-6 tour_detail_img_left">
                <img th:src="${'/images/travel/' + tourDetailDto.detailName + '_1.jpg'}" alt="Main img">
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <img th:src="${'/images/travel/' + tourDetailDto.detailName + '_2.jpg'}" alt="Main img">
                </div>
                <div class="row">
                    <img th:src="${'/images/travel/' + tourDetailDto.detailName + '_3.jpg'}" alt="Main img">
                </div>
            </div>
        </div>
        <h3>[[${tourDetailDto.detailName}]] 상세 설명</h3>
        <p class="tour_detail_exp">[[${tourDetailDto.detailExp}]]</p>
    </div>
</div>

<div class="d-flex justify-content-center 워드클라우드">
    <div class="container 둘러보기">
        <h3>사이트 별 워드 클라우드</h3>
        <div class="img_wc row">
            <div class="col-sm-6 ">
                <img class="wc" th:src="${'/images/tour/wc_naver/' + tourDetailDto.tourListEntity.tourName + 'WC.jpg'}" alt="Word Cloud">
                <h4>[[${tourName}]](네이버)</h4>
                <h5>2023.09.01~2023.10.31</h5>
            </div>
            <div class="col-sm-6 ">
                <img class="wc" th:src="${'/images/tour/wc_tripadvisor/' + tourDetailDto.tourListEntity.tourName + 'WC.jpg'}" alt="Word Cloud">
                <h4>[[${tourName}]](트립 어드바이저)</h4>
                <h5>2023.09.01~2023.10.31</h5>
            </div>
        </div>
        <div class="img_wc row">
            <div class="col-sm-6 ">
                <img class="tour_wc_img" th:src="${'/images/wc/' + tourDetailDto.detailName + '.jpg'}" alt="Word Cloud">
                <h4 class="tour_wc_text">[[${tourDetailDto.detailName}]]</h4>
                <h5>2023.09.01~2023.10.31</h5>
            </div>
        </div>
    </div>
</div>

<div class="container 지역 커뮤니티 최신글 region_new">
    <div class="row">
        <h3>지역 커뮤니티 최신글</h3>
        <a herf="">야외 자리도  즐기기 좋은 카페 26곳</a>
        <a herf="">강남 팝업스토어</a>
        <a herf="">성수동 카페거리</a>
        <a herf="">성수 아더 스페이스 2.0 플래그십 스토어</a>
    </div>
</div>

<div th:replace="~{layout/login::login}"></div>
<div th:replace="~{layout/footer::footer}"></div>


<script>
    console.log(tourDetailDto);
</script>
</body>
</html>
