<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/headSetting::minSetting">
    <title>커뮤니티</title>
</head>
<body>
<div th:replace="layout/header::indexHeader"></div>

<div class="detail_post">
  <div class="d-flex justify-content-center row" id="detail_card">
    <div class="col-sm-6" id="post_border">
      <div class="row">
        <div class="col">
          <img src="/images/profile/profile.png" class="dropdown-toggle" type="button" id="post_profile" data-bs-toggle="dropdown" aria-expanded="false">
          <p class="card-text" id="card_name">[[${board.member.nickname}]]</p>
        </div>
        <div class="col text-lg-end">
          <button type="button" class="btn btn-light">수정</button>
          <a th:href="|/board/delete/${board.id}|"><button type="button" class="btn btn-light">삭제</button></a>
        </div>
      </div>
      <div class="card">
        <div id="detail_carousel" class="carousel slide" data-bs-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/testImg/travel.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/testImg/travel3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/testImg/travel2.jpg" class="d-block w-100" alt="..">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#detail_carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#detail_carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="row" id="detail_icon">
          <div class="col">
            <button id="detail_imgheart" th:unless="${dolike}">
              <a th:href="|/board/like/${board.id}|"><img th:src="|/images/board/heart.svg|" id="detail_img_like" alt="좋아요"></a>
            </button>
            <button id="detail_imgheart" th:if="${dolike}">
              <a th:href="|/board/dislike/${board.id}|"><img th:src="|/images/board/heart.svg|" id="detail_img_like" alt="좋아요"></a>
            </button>
            <button id="detail_imgchat">
              <img src="/images/main/logo/chat-fill.svg"   id="detail_img" alt="...">
            </button>
          </div>
        </div>
        <br>
        <div class="row g-0" id="detail_list">
          <div class="col-auto">
            <p class="card-text" id="detail_name">[[${board.member.nickname}]]</p>
          </div>
          <div class="col-auto">
            <p class="card-text" id="detail_title">[[${board.boardTitle}]]</p>
          </div>
          <div class="col-auto">
            <a id="detail_expand" data-bs-toggle="collapse" href="#detail_expandcotent" role="button" aria-expanded="false" aria-controls="collapseExample">
              더보기
            </a>
          </div>
        </div>
      </div>
      <div class="collapse" id="detail_expandcotent">
        <div class="card card-body">
          [[${board.boardContents}]]
          <div class="row" id="detail_comment2">
            <div class="col-auto">
              <div id="comment-list">
                <table>
                  <thead>
                  <tr>
                    <th>작성자</th>
                    <th>내용</th>
                    <th>작성 일자</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="comment, commentStat: ${commentList}">
                    <td th:text="${comment.member.nickname}"></td>
                    <td th:text="${comment.commentContents}"></td>
                    <td th:text="${comment.createdTime}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
                <div class="input-group mb-3" id="comment-write">
                  <form action="/comment/save" method="post">
                    <label for="commentContents">내용: </label>
                    <textarea class="form-control" id="commentContents" name="commentContents" rows="5" required></textarea>
                    <br>
                    <input type="hidden" class="form-control" aria-label="detail_comment" aria-describedby="button-addon2" name="boardId" th:value="${board.id}"/>
                    <button class="btn btn-primary" id="comment-write-btn" type="submit">댓글 작성</button>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="layout/footer::footer"></div>

<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' th:inline="javascript">
  $("#detail_comment2").hide();
  var myCollapsible = document.getElementById('detail_expandcotent')
  myCollapsible.addEventListener('show.bs.collapse', function () {
    $("#detail_comment").hide();
  $("#detail_comment2").show();
  })

  var myCollapsible2 = document.getElementById('detail_expandcotent')
  myCollapsible2.addEventListener('hide.bs.collapse', function () {
    $("#detail_comment").show();
    $("#detail_comment2").hide();
  })

  const heartIcon = document.getElementById('detail_img_like');


  heartIcon.addEventListener('click', function() {
    heartIcon.classList.toggle('red'); // 클릭할 때마다 'red' 클래스를 토글하여 색상을 변경합니다.
  });

</script>
</body>
</html>