<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/headSetting::minSetting}">
  <title>커뮤니티</title>
  <!-- bootstrap/css -->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<div th:replace="~{layout/header::indexHeader}"></div>
<div class="update_main">
  <form action="/board/update" method="post" name="updateForm">  <input type="hidden" name="id" th:value="${boardUpdate.id}">
    writer: <input type="text" name="boardWriter" th:value="${boardUpdate.member.nickname}" readonly> <br>
    title: <input type="text" name="boardTitle" th:value="${boardUpdate.boardTitle}"> <br>
    contents: <textarea name="boardContents" cols="30" rows="10" th:text="${boardUpdate.boardContents}"></textarea> <br>
    <input type="hidden" name="boardHits" th:value="${boardUpdate.boardHits}">
    <input type="button" value="글수정" onclick="boardUpdate()">
  </form>
</div> <!-- end mupdate_main -->
<div th:replace="~{layout/footer::footer}"></div>
<script th:inline="javascript">
  const boardUpdate = () => {
    document.updateForm.submit();
  }
</script>
</body>