<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/headSetting::minSetting}">
    <title>커뮤니티</title>
</head>
<body>
<div th:replace="~{layout/header::indexHeader}"></div>

<div class="row justify-content-end">
  <div class="col-2" th:if="${userName}">
    <a class="btn btn-primary main_write" role="button" href="/board/save">글쓰기</a>
  </div>
</div>
<div class="d-flex justify-content-center row" id="main_card">
  <div class="col-sm-3">
    <div class="card" >
      <img src="/images/testImg/travel.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text" id="card_region">제주</p>
        <p class="card-text" id="card_by">좋아요</p>
        <p class="card-text" id="card_like">7</p>
        <br><br>
        <h5 class="card-title" id="card_title">단풍 여행</h5>
        <br>
        <p class="card-text" id="card_by">By</p>
        <p class="card-text" id="card_name">관리자</p>
      </div>
    </div>
  </div>
</div>

<div class="main_post">
  <div class="d-flex justify-content-center" id="post">
    <div class="card mb-3" id="post_1">
      <div class="row" th:each="board: ${boardList}">
        <div class="col-md-2" th:with="bid=${board.id}">
          <div class="card-body">
            <p class="card-text" id="post_region">경기</p>
            <p class="card-text" id="post_time">1</p>
            <p class="card-text" id="post_time2">시간 전</p>
            <br><br>
            <p class="card-text" id="card_by">좋아요</p>
            <p class="card-text" id="card_like">[[${likeCount.get(bid)}]]</p>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <a th:href="@{|/board/${board.id}|(page=${boardList.number + 1})}">
              <h5 class="card-title" id="post_title">[[${board.boardTitle}]]</h5>
              <p class="card-text" id="post_text">
                [[${board.boardContents}]]
              </p>
              <div class="post_userinfo">
                <img th:src="|/images${board.member.picture}|" class="dropdown-toggle" type="button" id="post_profile" data-bs-toggle="dropdown" aria-expanded="false">
                <p class="card-text" id="card_by">By</p>
                <p class="card-text" id="card_name">[[${board.member.nickname}]]</p>
              </div>
              <br>
            </a>
          </div>
        </div>
        <div class="col-md-3" th:if="${board.storedFileName}">
          <img th:src="@{'/images/board/' + ${board.storedFileName[0]}}" class="img-fluid rounded-start"  id="post_img" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
<a th:href="@{/board/paging(page=1)}">First</a>
<!-- 이전 링크 활성화 비활성화 -->
<!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
<a th:href="${boardList.first} ? '#' : @{/board/paging(page=${boardList.number})}">prev</a>

<!-- 페이지 번호 링크(현재 페이지는 숫자만)
        for(int page=startPage; page<=endPage; page++)-->
<span th:each="page: ${#numbers.sequence(startPage, endPage)}">
<!-- 현재페이지는 링크 없이 숫자만 -->
    <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
  <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
    <span th:unless="${page == boardList.number + 1}">
        <a th:href="@{/board/paging(page=${page})}" th:text="${page}"></a>
    </span>
</span>

<!-- 다음 링크 활성화 비활성화
    사용자: 2페이지, getNumber: 1, 3페이지-->
<a th:href="${boardList.last} ? '#' : @{/board/paging(page=${boardList.number + 2})}">next</a>
<!-- 마지막 페이지로 이동 -->
<a th:href="@{/board/paging(page=${boardList.totalPages})}">Last</a>

<div th:replace="~{layout/login::login}"></div>
<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>