<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/headSetting::minSetting">
    <title>커뮤니티</title>
</head>
<body>
<div th:replace="layout/header::indexHeader"></div>

<div class="row justify-content-end">
  <div class="col-2" th:if="${userName}">
    <a class="btn btn-primary main_write" role="button" href="/board/save">글쓰기</a>
  </div>
</div>
<div class="d-flex justify-content-center row" id="main_card">
  <div class="col-sm-3">
    <div class="card" >
      <img src="/images/testImg/travel.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text" id="card_region">제주</p>
        <p class="card-text" id="card_by">좋아요</p>
        <p class="card-text" id="card_like">7</p>
        <br><br>
        <h5 class="card-title" id="card_title">단풍 여행</h5>
        <br>
        <p class="card-text" id="card_by">By</p>
        <p class="card-text" id="card_name">관리자</p>
      </div>
    </div>
  </div>
</div>

<div class="main_post">
  <div class="d-flex justify-content-center" id="post">
    <div class="card mb-3" id="post_1">
      <div class="row" th:each="board: ${boardList}">
        <div class="col-md-2" th:with="bid=${board.id}">
          <div class="card-body">
            <p class="card-text" id="post_region">경기</p>
            <p class="card-text" id="post_time">1</p>
            <p class="card-text" id="post_time2">시간 전</p>
            <br><br>
            <p class="card-text" id="card_by">좋아요</p>
            <p class="card-text" id="card_like">[[${likeCount.get(bid)}]]</p>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <a th:href="@{|/board/${board.id}|(page=${boardList.number + 1})}">
              <h5 class="card-title" id="post_title">[[${board.boardTitle}]]</h5>
              <p class="card-text" id="post_text">
                [[${board.boardContents}]]
              </p>
              <div class="post_userinfo">
                <img src="/images/profile/profile.png" class="dropdown-toggle" type="button" id="post_profile" data-bs-toggle="dropdown" aria-expanded="false">
                <p class="card-text" id="card_by">By</p>
                <p class="card-text" id="card_name">[[${board.member.nickname}]]</p>
              </div>
              <br>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <img src="/images/testImg/travel2.jpg" class="img-fluid rounded-start"  id="post_img" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="layout/login::login"></div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>