<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="text-black py-4" id="footerbg">
            <div class="row justify-content-between text-start">
                <div class="col-md-5 footer_text">
                    <h5>소개</h5>
                    <p>이용 약관</p>
                    <p>문의하기</p>
                </div>

                <div class="col-md-5 footer_logo">
                    <img class="logo_img" src="/images/main/logo/Green.png">
                </div>
            </div>
    </footer>
</div>
</html>