<div th:fragment="login">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center login_ui">
                    <a th:href="@{/oauth2/authorization/kakao}" role="button"><img src="../images/member/oauthLogo/kakao.png" alt="Kakao Login"></a>
                    <a th:href="@{/oauth2/authorization/naver}" role="button"><img src="../images/member/oauthLogo/naver.png" alt="Naver Login"></a>
                    <a th:href="@{/oauth2/authorization/google}" role="button"><img src="../images/member/oauthLogo/google.png" alt="Google Login"></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>