<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thtmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정</title>
    <!-- bootstrap/css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <h1>회원정보수정</h1>
    <div class="tbl_wrp">
        <form class="form-horizontal" th:action="@{/member/modify}" method="post" th:object="${member}">
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">이메일</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control input-large" name="email" id="email" placeholder="email" th:value="*{email}" required readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="nickname" class="col-sm-2 control-label">닉네임</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-large" name="nickname" id="nickname" placeholder="닉네임" th:value="*{nickname}" required>
                </div>
            </div>
            <div class="form-group">
                <label for="age" class="col-sm-2 control-label">나이대</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-large" name="age" id="age" placeholder="나이대" th:value="*{age}" required>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="col-sm-2 control-label">성별</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-large" name="gender"id="gender" placeholder="성별" th:value="*{gender}" required>
                </div>
            </div>
            <div class="form-group">
                <label for="introduce" class="col-sm-2 control-label">소개 문구</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-large" name="introduce" id="introduce" placeholder="소개" th:value="*{introduce}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <button type="Submit" class="btn btn-dark btn-lg">수정</button>
                    <button type="button" onclick="removeMember();"> 탈퇴하기 </button>
                </div>
            </div>
        </form>
    </div>

    <script>
        function removeMember() {
            if(window.confirm("탈퇴하시겠습니까?")){
                location.href="/member/remove";
            }
        }
    </script>
</body>
</html>