<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{layout/headSetting::userSetting}"></div>
    <title>MyTravelDiary</title>
</head>
<body>
<div th:unless="${userName}">
    <div th:replace="~{layout/header::memberHeader}"></div>
</div>
<div th:if="${userName}">
    <div th:replace="~{layout/header::indexHeader}"></div>
</div>
<div class="container"> <!-- 컨테이너 -->
    <!-- 프로필 커버-->
    <div id="mypage-cover">
    </div>
    <!-- 프로필 아이콘 및 이름 좋아요-->
    <div class="d-flex bd-highlight mb-3" id="mypage-icon" th:object="${member}">
        <img th:src="|/images*{picture}|" class="p-2 bd-highlight" alt="프로필 이미지">
        <p class="p-2 bd-highlight align-self-center"> [[*{nickname}]] </p>
        <p class="p-2 bd-highlight align-self-center"> 좋아요 </p>
        <p class="p-2 bd-highlight align-self-center" id="icon-fav">[[${likeCount}]]</p>
        <a class="btn btn-primary ms-auto p-2 bd-highlight align-self-center" id="profile_imgedit" role="button" href="/member/profileImg/modify">프로필 이미지 수정</a>
        <a class="btn btn-primary p-2 bd-highlight align-self-center" id="profile_edit" href="/member/edit" role="button" >회원정보 수정</a>
    </div>

    <!-- 프로필 탭 -->
    <div id="mypage-tab">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="write-tab" data-bs-toggle="tab" data-bs-target="#write" type="button" role="tab" aria-controls="write" aria-selected="true">작성글</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="fav-tab" data-bs-toggle="tab" data-bs-target="#fav" type="button" role="tab" aria-controls="fav" aria-selected="false">좋아요한 게시글</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="comment-tab" data-bs-toggle="tab" data-bs-target="#comment" type="button" role="tab" aria-controls="comment" aria-selected="false">최근 작성 댓글</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="scrab-tab" data-bs-toggle="tab" data-bs-target="#scrab" type="button" role="tab" aria-controls="scrab" aria-selected="false">스크랩한 페이지</button>
            </li>

        </ul>
    </div>

    <div id="mypage-main" class="row">

        <!-- 프로필 정보-->
        <div id="mypage-info" class="col-3 rounded-top border border-2" th:object="${member}">
            <ul id="mypage-info-detail">
                <li id="mypage-age">
                    <div th:if="*{age == 0}">
                        나이: 비공개
                    </div>
                    <div th:unless="*{age == 0}">
                        나이: [[*{age}]]
                    </div>
                </li>
                <li id="mypage-local">
                    <div th:if="*{gender == 0}">
                        성별: 비공개
                    </div>
                    <div th:if="*{gender == 1}">
                        성별: 남성
                    </div>
                    <div th:if="*{gender == 2}">
                        성별: 여성
                    </div>
                </li>
                <li id="mypage-etc">
                    세부사항
                    [[*{introduce}]]
                </li>
            </ul>
        </div>

        <div id="mypage-detail" class="col-8 border border-2 rounded-top">
            <!-- 탭 내용 -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="write" role="tabpanel" aria-labelledby="write-tab">
                    <ul id="write-tab" th:each="board : ${boardList}">
                        <a th:href="|/board/${board.id}|"><li>[[${board.boardTitle}]]</li></a>
                        <p th:href="|/board/${board.createdTime}|"><li>[[${board.createdTime}]]</li></p>
                    </ul>
                </div>
                <div class="tab-pane fade" id="fav" role="tabpanel" aria-labelledby="fav-tab">
                    <ul th:each="like : ${likesList}">
                        <a th:href="|/board/${like.board.id}|"><li>[[${like.board.boardTitle}]]</li></a>
                        <p>테스트</p>
                    </ul>
                </div>
                <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                    <ul th:each="comment : ${commentList}">
                        <a th:href="|/board/${comment.boardEntity.id}|"><li>[[${comment.commentContents}]]</li></a>
                    </ul>
                </div>
                <div class="tab-pane fade" id="scrab" role="tabpanel" aria-labelledby="scrab-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-4" th:each="scrap : ${scrapList}"> <!-- 각 이미지와 텍스트를 4개의 컬럼으로 나눔 -->
                                <div class="position-relative">
                                    <img src="/images/testImg/travel.jpg" alt="이미지" class="img-fluid">
                                    <div class="text-overlay">[[${scrap.detailEntity.detailName}]]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
</div>
<div th:replace="~{layout/login::login}"></div>
<div th:replace="~{layout/footer::footer}"></div>
</body>


    <script>
        var mNum = 0;
        var dis = document.getElementById("profile-morderator")
        if (mNum === 1){
            dis.style.display = "block";
        } else {
            dis.style.display = "none";
        }
    </script>

</html>