<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/headSetting::userSetting}">
    <title>MyTravelDiary</title>
</head>
<body>
    <div th:replace="~{layout/header::indexHeader}"></div>
    <div class="container" id="index_main_container"> <!-- 컨테이너 -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/main/img/main_img1.jpg" class="d-block w-100" alt="..." id="slide">

                <div class="text-overlay-main">고생 끝에 커피 와요, 언덕 위 해방촌 카페 3
                    <br>
                    <div class="text-overlay"> ‘해방촌’은 놀러 온 이들에게 고생과 재미를 함께 주는 곳이다. 해방 이후 조국으로 돌아온 동포들과 한국전쟁 이후 서울에 정착한 피난민들이 모여 살았다는 동네.<br>
                    다양한 국적의 사람들이 섞여 만들어 내는 자유로운 분위기와 이국적인 음식점을 경험하는 재미는 짜릿하지만, 이를 온전히 누리려면 험난한 급경사와 인도/차도 구분 없는 좁은 도로를 견뎌야만 한다.
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <img src="/images/main/img/main_img2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/main/img/main_img3.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container index_main_wordcloud">
        <div class="row">
            <div class="col">
                <img src="/images/main/img/word_trip.png" alt="트립어드바이저">
                <h5>트립어드바이저</h5>
                <p>2023-09-01 ~ 2023-10-31</p>
            </div>
            <div class="col">
                <img src="/images/main/img/word_naver.png" alt="네이버">
                <h5>네이버</h5>
                <p>2023-09-01 ~ 2023-10-31</p>
            </div>
        </div>

    </div>

    <div class="chart">
        <canvas id="bar-chart" width="500"  height="450"></canvas>
        <script> new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
            labels: ["서울", "수원", "담양", "천안"],
            datasets: [{
                    label: "국내 여행 인기 지역 (명)",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
                    data: [5478,2267,734,784]
                }]
            },
            options: {
                responsive: false,
                legend: { display: false },
            }
        });
        </script>
        <canvas id="bar-chart2" width="500"  height="450"></canvas>
        <script> new Chart(document.getElementById("bar-chart2"), {
            type: 'pie',
            data: {
                labels: ["오사카", "도쿄", "후쿠오카", "교토"],
                datasets: [{
                    label: "해외 여행 인기 지역 (명)",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
                    data: [2478,5267,734,784,433]
                }]
            },
            options: {
                responsive: false,
                legend: { display: false },
            }
        });
        </script>
    </div>
    </div> <!-- 컨테이너 -->
    <!-- 로그인 -->
    <!-- Modal -->
    <div th:replace="~{layout/login::login}"></div>

    <div th:replace="~{layout/footer::footer}"></div>
</body>
</html>