<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<head th:replace="~{layout/headSetting::userSetting}">
    <title>MyTravelDiary</title>
</head>
<body>
    <div th:replace="~{layout/header::indexHeader}"></div>
    <div class="container" id="index_main_container"> <!-- 컨테이너 -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" th:each="boardRecommendDTO : ${boardRecommendDTOs}">
                <div class="carousel-item active" th:each="recommendContents : ${boardRecommendDTO.recommendContents}">
                    <a th:href="@{'/recommend/' + ${recommendContents.id}}">
                        <img th:src="@{'/images/board/recommend/' + ${recommendContents.image}}" class="d-block w-100" alt="..." id="slide">

                        <div class="text-overlay-main" th:text="${recommendContents.title}">
                            <br>
                            <div class="text-overlay" th:text="${recommendContents.introduce}">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    <div class="container index_main_wordcloud">
        <div class="row">
            <div class="col">
                <img src="/images/main/img/word_trip.png" alt="트립어드바이저">
                <h5>트립어드바이저</h5>
                <p>2023-09-01 ~ 2023-10-31</p>
            </div>
            <div class="col">
                <img src="/images/main/img/word_naver.png" alt="네이버">
                <h5>네이버</h5>
                <p>2023-09-01 ~ 2023-10-31</p>
            </div>
        </div>

    </div>

    <div class="row justify-content-between chart">
        <canvas id="bar-chart" width="500"  height="450"></canvas>
        <script>
            $(document).ready(function(){
                $.ajax({
                    type:'POST',
                    async:false,              // 비동기
                    url:'/travel/tripAdvisor',
                    dataType:'text',
                    data:{gender: "남자"},
                    success: function(data) {
                        var jsonObject = JSON.parse(data);

                        jsonObject.sort((a, b) => parseFloat(b.region_interest_score) - parseFloat(a.region_interest_score));

                        const filteredData = jsonObject.filter(item => item.age_group === '20');

                        const labels = filteredData.map(item => item.tour_name);
                        const chartData = filteredData.map(item => parseFloat(item.region_interest_score))

                        new Chart(document.getElementById("bar-chart"), {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: "국내 여행 인기 지역 남성",
                                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
                                    data: chartData
                                }]
                            },
                            options: {
                                responsive: false,
                                legend: { display: false },
                            }
                        });
                    },
                    error : function(error){
                        alert("error : "+error); //에러
                    }
                });    //ajax
            });
        </script>
        <canvas id="bar-chart2" width="500"  height="450"></canvas>
        <script>
            $(document).ready(function(){
                $.ajax({
                    type: 'POST',
                    async: false,              // 비동기
                    url: '/travel/tripAdvisor',
                    dataType: 'text',
                    data:{gender: "여자"},
                    success: function(data) {
                        var jsonObject = JSON.parse(data);

                        jsonObject.sort((a, b) => parseFloat(b.region_interest_score) - parseFloat(a.region_interest_score));

                        const filteredData = jsonObject.filter(item => item.age_group === '20');

                        const labels = filteredData.map(item => item.tour_name);
                        const chartData = filteredData.map(item => parseFloat(item.region_interest_score))

                        new Chart(document.getElementById("bar-chart2"), {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: "국내 여행 인기 지역 여성",
                                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
                                    data: chartData
                                }]
                            },
                            options: {
                                responsive: false,
                                legend: { display: false },
                            }
                        });
                    },
                    error : function(error){
                        alert("error : "+error); //에러
                    }
                });    //ajax
            });
        </script>
    </div>
    </div> <!-- 컨테이너 -->
    <!-- 로그인 -->
    <!-- Modal -->
    <div th:replace="~{layout/login::login}"></div>

    <div th:replace="~{layout/footer::footer}"></div>
</body>
</html>